/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #cdd7d5;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; /* Add padding for spacing */
}

.logo {
    width: 60px;
    margin-left: 35px;
    margin-top: 8px;
}

.nav-links {
    display: flex;
    margin-right: 35px;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.05em;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.nav-links a:hover {
    color: rgb(95, 95, 95);
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

/* Home Page */
.intro {
    padding-top: 35px;
    text-align: center;
    margin: auto;
    margin-right: 170px;
}

.intro h1 {
    font-family: "dunbar-tall", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 13.4em;
}

.intro p {
    font-size: 3em;
    margin-top: 10px;
}

.sidebar {
    display: inline;
    text-align: right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: "Montserrat", sans-serif;
    font-size: 1.3em;
    position: absolute;
    left: -180px;
    bottom: 115%;
    text-align: left;
    color: #333;
    font-weight: 500;
}

.sidebar p1{
    margin-top: -19px;
}

.vertical-text {
    position: absolute;
    right: -175px;
    bottom: -230px;
    text-align: right;
}

.vertical-text p1 {
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 390;
}

.vertical-text ul {
    list-style-type: none;
    text-align: right;
}

.vertical-text ul li {
    font-size: 1.em;
    font-weight: 300;
}

.arrow-back {
    position: relative;
    width: 10%;
    height: 400px;
}

.arrow-back img {
    position: absolute;
    bottom: -230px;
    left: -1250px;
    width: 80px;
    height: auto;
}