/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #cfcfcf;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding-top: 70px;
    background-image: url(background6.png);
    background-size: cover;
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-attachment: fixed;
}

header {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    width: 60px;
    margin-left: 35px;
    margin-top: 8px;
}

.nav-links {
    display: flex;
    margin-right: 35px;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.05em;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.nav-links a:hover {
    color: rgb(95, 95, 95);
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

/* Home Page */
.big-text {
    font-size: 32vw;                /* Responsive font size */
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    width: 100vw;                   /* Full viewport width */
    text-align: center;
    position: fixed;                /* Position fixed to the bottom */
    bottom: -0.02em;                /* Slight adjustment to touch bottom */
    left: 50%;                      /* Center horizontally */
    transform: translateX(-50%);   /* Adjust for centering */
    z-index: 1;                    /* Stack above other elements */
    line-height: 0.8;              /* Adjust line height */
}

.corner-text {
    position: fixed;
    top: 100px;
    left: 70px;
    font-size: 14px;
    z-index: 2;
}

.corner-text p {
    margin: 0;
}