/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #cfcfcf;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; /* Add padding for spacing */
}

.logo {
    width: 60px;
    margin-left: 35px;
    margin-top: 8px;
}

.nav-links {
    display: flex;
    margin-right: 35px;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.05em;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.nav-links a:hover {
    color: rgb(95, 95, 95);
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    position: relative;
}

/* Home Page */
.intro {
    padding-top: 35px;
    text-align: center;
    margin: auto;
}

.intro h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 5em;
}

.intro p {
    font-size: 1.5em;
    margin-top: 10px;
}
