/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; /* Add padding for spacing */
}

.logo {
    width: 60px;
    margin-left: 35px;
    margin-top: 8px;
}

.nav-links {
    display: flex;
    margin-right: 35px;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.05em;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.nav-links a:hover {
    color: rgb(95, 95, 95);
}


.container {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 10px;
}

.paragraph {
    list-style: none;
    padding: 30px;
}

h1 {
    font-size: 25px;
    padding: 30px;
    padding-bottom: 5px;
}

p {
    font-size: 15px;
    line-height: 1.6;
}

/*Programs List*/
.tools {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
    justify-self: end;
    align-items: center;
}

.tool {
    background-color: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 13px;
    margin-right: 0;
}


.benji-animation {
    width: 100vw;
}

.container2 {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 70px;
    padding-left: 500px;
    padding-right: 200px;
    padding-bottom: 70px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 4fr; /* Adjusted to create more space between the left and right columns */
    align-items: start;
    gap: 50px; /* Increase gap between columns */
}

.left-column p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #a8a8a8;
}

.left-column h2 {
    font-size: 25px;
    font-weight: 600;
}

.right-column {
    padding-left: 30px;
}

.right-column p {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
    margin-top: 65px;
}

.bullet {
    font-size: 20px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
}

.photos {
    width: 99.8vw;
    margin-top: 2px;
}

.photo-photo1 {
    display: flex;
    justify-content: space-between; /* To create space between image and video */
    align-items: center; /* Align both image and video vertically if needed */
    gap: 6px;
    margin-bottom: 6px;
    margin-top: 2px;
}

.photo-left, .photo-right {
    width: calc(50% - 2.5px); /* Each takes half the screen minus 5px to account for the 10px gap */
    height: auto;
}